[Unit]
Description=Renew ACME Certificates
After=nginx.service

[Service]
Type=oneshot
EnvironmentFile=/etc/acme/acme.env
ExecStart=/bin/su - acme -c "export DNSEXITAPIKEY=${DNSEXITAPIKEY}; cd ~; . .acme.sh/acme.sh.env; for DOMAIN in ${DOMAINS}; do echo \"Renewing:$DOMAIN\"; .acme.sh/acme.sh --renew --dns dns_localdnsexit --ecc --server letsencrypt -d \"$DOMAIN\" -d \"*.$DOMAIN\"; [ $? -eq 0 ] && RELOAD=true; done; [ ${RELOAD} == "true" ] && exit 0"
ExecStartPost=/bin/systemctl reload nginx
